h1,
h4,
h6 {
  text-align: center;
}

body {
  background-image:url('https://st2.depositphotos.com/2543399/9107/i/950/depositphotos_91079116-stock-photo-vintage-or-grungy-white-background.jpg');
}

img:hover {
  box-shadow: 9px 9px 9px purple;
  cursor: pointer;
  
}

a{
  color: black;
  font-size: 25px;
  text-align: center;
  font-family: fantasy;
}

#trainCover{
  padding-top:60px;
  width:640px;
  height:380px;
}

#psychicCover{
  width:640px;
  height:380px;
}

#triviaCover{
  width:640px;
  height: 360px;
}

#gifCover{
  width:640px;
  height: 360px;
}

#sportsCover{
  width:640px;
  height:340px;
}

#crystalCover{
  width:640px;
  height:340px;
}

#repo{
  padding-left:450px;
}

a:hover{
  text-decoration: underline !important;
  }

  #git{
    width:100px;
    height:50px;
  }

  #git:hover{
    box-shadow: 9px 9px 9px 9px yellow;
    cursor: pointer;
  }
  
  #listCon:hover{
    box-shadow: 9px 9px 9px 9px white;
    cursor: pointer;
  }
  
  .listHover:hover{
    box-shadow: 9px 9px 9px 9px yellow;
    cursor: pointer;
  }
  
  #still:hover{
    box-shadow: 9px 9px 9px 9px blue;
  }
  
  #navHover:hover{
    box-shadow: 9px 9px 9px 9px purple;
    cursor: pointer;
  }